bce-python-sdk
flask >= 1.1.1
Flask-Babel >= 3.0.0
numpy
Pillow >= 7.0.0
protobuf >= 3.20.0
requests
six >= 1.14.0
matplotlib
pandas
packaging
x2paddle >= 1.4.0
paddle2onnx >= 1.0.5
rarfile
gradio == 3.11.0
tritonclient[all]
psutil
onnx >= 1.6.0
httpx == 0.24.1
