.vdl-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'vdl-icon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mute:before {
    content: '\e918';
}
.icon-volumn-low:before {
    content: '\e91b';
}
.icon-volumn:before {
    content: '\e91c';
}
.icon-pause:before {
    content: '\e919';
}
.icon-play:before {
    content: '\e91a';
}
.icon-question-circle:before {
    content: '\e913';
}
.icon-minus:before {
    content: '\e914';
}
.icon-plus:before {
    content: '\e915';
}
.icon-close:before {
    content: '\e916';
}
.icon-upload:before {
    content: '\e917';
}
.icon-zoom-out:before {
    content: '\e911';
}
.icon-zoom-in:before {
    content: '\e912';
}
.icon-refresh:before {
    content: '\e90c';
}
.icon-restore-size:before {
    content: '\e90d';
}
.icon-minimize:before {
    content: '\e90e';
}
.icon-log-axis:before {
    content: '\e90f';
}
.icon-maximize:before {
    content: '\e910';
}
.icon-chevron-down:before {
    content: '\e90a';
}
.icon-reduction:before {
    content: '\e900';
}
.icon-dimension:before {
    content: '\e901';
}
.icon-revert:before {
    content: '\e902';
}
.icon-download:before {
    content: '\e903';
}
.icon-text:before {
    content: '\e904';
}
.icon-audio:before {
    content: '\e905';
}
.icon-scalar:before {
    content: '\e906';
}
.icon-histogram:before {
    content: '\e907';
}
.icon-search:before {
    content: '\e908';
}
.icon-image:before {
    content: '\e909';
}
.icon-check-mark:before {
    content: '\e90b';
}
