//stylus variables define before import statement
$input-font-size = 14px

@import '../../node_modules/vuetify/src/stylus/main'

//css define after import statement
.input-group.input-group--slider label
  font-size $input-font-size

.input-group__details
  min-height 14px