prefix = 'visual-dl-'

$-theme-color = #008c99

$-top-menu-font-color = #fff

$-left-background-color = #303a3a

$-content-text-color = #303a3a

$-left-border-color = #e9e9e9

$-right-font-color = rgba(#fff, 0.7)
