html {
    font-family: "RobotoDraft", "Roboto", sans-serif;
}

// initual style
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } h1, h2, h3, h4, h5, h6{ font-size:100%; } address, cite, dfn, em, var { font-style:normal; } code, kbd, pre, samp { font-family:couriernew, courier, monospace; } small{ font-size:12px; } ul, ol { list-style:none; } a { text-decoration:none; } a:hover { text-decoration:underline; } sup { vertical-align:text-top; } sub{ vertical-align:text-bottom; } legend { color:#000; } fieldset, img { border:0; } button, input, select, textarea { font-size:100%; } table { border-collapse:collapse; border-spacing:0; }

@import './Notification/Notification.styl'

// modify some styles of san-mui
.sm-icon
    width 20px
    height 20px
    overflow hidden

.sm-radio,
.sm-checkbox
    margin-top 2px
    margin-bottom 4px
    margin-right 10px
    float left
    width 100%

    .sm-radio-wrapper,
    .sm-checkbox-wrapper
        justify-content start

        .sm-radio-label,
        .sm-checkbox-label
            font-size 12px

        .sm-radio-icon
        .sm-checkbox-icon
            width 20px
            height 20px
            margin-right 10px

            .sm-radio-ripple-wrapper
            .sm-checkbox-ripple-wrapper
                width 20px
                height 20px
                top 0px
                left 0px

            .sm-checkbox-svg-icon,
            .sm-radio-svg-icon
                width 20px
                height 20px

            .sm-checkbox-icon-uncheck
            .sm-radio-icon-uncheck
                color #58666e

        .sm-radio-label,
        .sm-checkbox-label
            color #58666e

.sm-dropdown-menu
    .sm-text-field
        margin-bottom 0px
        min-height 30px
        border-bottom solid 1px #e4e4e4

        .sm-text-field-content
            padding 0
            padding-left 4px

            input
                cursor pointer

    .sm-dropdown-menu-icon
        top 6px
        right 0
        bottom 0
        .sm-icon
            color #58666e

.sm-popover-content
    .sm-menu-item
        line-height 30px
        font-size 14px
        color #58666e

    .sm-menu-item.state-selected
        color #ff4081
.sm-text-field
    width 100%
.sm-text-field-input
    color #58666e

.sm-form-item
    margin-top 10px
    overflow hidden

    .label
        color rgba(0,0,0,0.54)
        font-size 12px
        line-height 20px

    .group-box
        overflow hidden

.collapse-transition
    transition: 0.3s height ease-in-out, 0.3s padding-top ease-in-out, 0.3s padding-bottom ease-in-out;

.sm-pagination
    margin 30px 0
    font-size 12px