name: Build
on: [push, pull_request]
jobs:
  build:
    name: build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ['3.9']
        node-version: ['14']
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          architecture: 'x64'
      - name: Install requirements
        run: |
          pip install -U wheel
          pip install -U setuptools
          pip install -r requirements.txt
        env:
          PIP_DISABLE_PIP_VERSION_CHECK: 1
      - name: Build whl
        run: |
          python setup.py bdist_wheel
      - name: Upload whl
        uses: actions/upload-artifact@v4
        with:
          name: VisualDL
          path: dist/*.whl
