name: Build
on: [push, pull_request]
jobs:
  build:
    name: build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ['3.5']
        node-version: ['14']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install requirements
        run: |
          pip install wheel
          pip install -r requirements.txt
      - name: Build whl
        run: |
          python setup.py bdist_wheel
      - name: Upload whl
        uses: actions/upload-artifact@v2
        with:
          name: VisualDL
          path: dist/*.whl
